# The best pattern people should follow is ignoring the editors' files in their
# global .gitignore configuration file.
# However, in order to prevent issues. We also ignore editors' files here.
.idea
.vscode

*.log
.cache
.DS_STORE
/.eslintcache
/.next
/.nyc_output
docs
/coverage
/test/regressions/screenshots
/test/selenium-output
/tmp
node_modules
package-lock.json
